<main role="main" class="container">
  <p class="is-info"><%= Phoenix.Flash.get(@flash, :info) %></p>
  <p class="is-danger"><%= Phoenix.Flash.get(@flash, :error) %></p>
  <%= @inner_content %>
</main>
