<main role="main" class="container">
  <p class="is-info"><%= Phoenix.Flash.get(@conn, :info) %></p>
  <p class="is-danger"><%= Phoenix.Flash.get(@conn, :error) %></p>
  <%= @inner_content %>
</main>
