<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <.live_title>
      <%= assigns[:page_title] || "BBC 6 Music Tracker" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={ Routes.static_path(@conn, "/assets/app.css") }/>
    <script defer phx-track-static type="text/javascript" src={ Routes.static_path(@conn, "/assets/app.js") }></script>
    <script defer data-domain="radio-tracker.geoffclayton.com" src="https://stats.geoffclayton.com/js/plausible.js"></script>
  </head>
  <body>
    <header class="block">
      <section class="container">
        <nav class="is-pulled-right has-text-right" role="navigation">
          <ul>
            <li><a href="/">Home</a></li>
            <%= if @current_user do %>
            <li><a href="/hearted-tracks">He<span class="pink">♥</span>rted tracks</a></li>
            <li><a href="/tracks">All tracks</a></li>
            <% end %>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
        <h1 class="is-size-1 is-size-4-mobile my-1 mb-6">
          <a href="/">Geoff's BBC 6 Music tracker</a>
        </h1>
      </section>
    </header>
    <%= @inner_content %>
    <footer>
      <section class="container">
        <%= _user_menu assigns %>
        <%= link("geoffclayton.com", to: URI.parse("https://geoffclayton.com"), class: "float-right", target: "_blank") %>
      </section>
    </footer>
  </body>
</html>
