<div class="box">
  <h3 class="is-size-3">Your Spotify playlists</h3>
  <p class="is-size-5">Select playlists you want to use for 'quick add' functionality from track list pages.</p>
  <ul class="list-unstyled m-4">
    <%= for playlist <- @playlists do %>
    <li>
      <%= playlist %>
    </li>
    <% end %>
  </ul>
</div>
