<div>
  I built this for two reasons:
  <br>
  1. So I could keep track of tracks I am enjoying on BBC 6 Music when cooking and parenting and things like that.
  <br>
  2. To try out Phoenix Framework 
  <br><br>
  Link to Github
  <br>
  Link to my personal page 
  <br><br>
  Explain is hosted in home server, so you might not be able to read this if there is a power cut or my broadband goes funny.
  <br><br>
  License 
  <br><br>
  Contact info and 'socials'
</div>